.pageWrap {
    padding-top: 30px;
    padding-left: 270px;
}

.sectionTitle {
    font-size: 30px;
    margin-bottom: 20px;
}

.pageInfo {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}