.rowWrap {
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    transition: background-color .3s ease-in-out;
}

.rowWrap:hover,
.rowWrap:focus {
    background-color: rgb(209, 209, 209);
    transition: background-color .3s ease-in-out;
}