.myBookWrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    min-height: 100vh;
    padding-left: 270px;
    padding-top: 30px;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);    
}

.sectionTitle {
    font-size: 30px;
}

.myBookList {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 2px solid rgb(175, 175, 175);
    border-bottom: 2px solid rgb(175, 175, 175);
}

.titleRow {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.dataTitle {
    display: block;
    font-size: 15px;
}

.myBookList div:not(:last-child) {
    margin-bottom: 5px;
}

.actions {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
